<mat-card class="card">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
        <mat-form-field class="full-width">
            <input matInput formControlName="username" placeholder="Username" (keyup.enter)="login()">
            <mat-error *ngIf="loginForm.get('password').hasError('required')">
                This is a required field
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="password" formControlName="password" placeholder="Password" (keyup.enter)="login()">
            <mat-error *ngIf="loginForm.get('password').hasError('required')">
                This is a required field
            </mat-error>
            <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
                Passwords must be at least 6 characters in length
            </mat-error>
        </mat-form-field>
        <div>
            <button mat-raised-button
                style="margin-left: 30%;"
                type="submit"
                color="basic"
                (click)="login()"
                [disabled]="!loginForm.valid">
                Login
            </button>
            <button  mat-raised-button
                style="margin-left: 5%;"
                color="primary"
                (click)="signUp()">
                Sign Up
            </button>
        </div>
    </form>
</mat-card>